<h1>Create a new Figure</h1>

<form action="/figures" method="post">
  <label>Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br></br>
 
  <label>Choose an existing title:</label><br>
  <%@titles.each do |t|%>
    <input type="checkbox" id="title_<%=t.id%>" name="figure[title_ids][]" value='<%=t.id%>'><%=t.name%></input>
  <%end%>
  <br></br>
 
    <label>and/or, create a new title:</label>
    <br>
    <label>Title name:</label>
      <input type="text" id="new_title" name="title[name]"></input>
    <br></br>

   <label>Choose an existing landmark:</label><br>
    <%@landmarks.each do |t|%>
      <input type="checkbox" id="landmark_<%=t.id%>" name="figure[landmark_ids][]" value='<%=t.id%>'><%=t.name%></input>
    <%end%>
    <br></br>
 
    <label>and/or, create a new landmark:</label>
    <br>
    <label>Title name:</label>
      <input type="text" id="new_landmark" name="landmark[name]"></input>
    <br></br>   
  
  <button type="submit" class="btn btn-default btn-lg" value="Create Figure">Create New Figure</button>

</form>